/* :root {
  --primary: #1C2833;
  --secondary: IVORY;
} */

:root {
  --primary: #ffffff;
  --secondary: #000000;
  --accent: darkred;
  --border-radius: 
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  text-align: left;
}

input[type="text"],
input[type="submit"] {
  height: 3em;
  border: 1px solid darkgrey;
  border-radius: var(--border-radius);
}

input[type="submit"] {
  width: 80%;
  margin-top: 1em;
}

button {
  min-height: 40px;
}

input#input {
  width: 80%;
  text-align: center;
}

h1,h2 {
  color:#111111;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

@media SCREEN and (min-width: 600px) {
  input#input {
    width: 50%;
    text-align: center;
    xpadding: 0 20px;
    margin: 0 20px 0 0;
  }
  input[type="submit"] {
    width: 20%;
  }
}